services:
  postgres:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: testdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"

  murdb:
    build: .
    restart: unless-stopped
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - mongo
    volumes:
      - ./logs:/app/logs
      - C:/Users/Agent/.MurDB/public.pem:/root/.MurDB/public.pem

volumes:
  pgdata: